{% extends "base.html" %}
{% block ex_css %}
<link rel="stylesheet" href="/static/css/project.css" />
{% endblock %}
{% block content %}
{% block title %}ATIC Projects{% endblock %}
<h1 class="pageTitle">Projects</h1>
<hr>
<span>Click one of the following projects to see details on it, or scroll down
to read through them:</span>
<!--these connect to the different projects on the page-->
<nav id="projectNav">
    <a href="#Bistro">Bistro</a>
    <a href="#EEG">Electroencephalogram</a>
    <a href="#generalsBuzz">Generals Buzz</a>
</nav>
<hr>

<section id="Bistro">
<img class="leftImage" src="/static/media/projectImages/bistro.jpg"
alt="Bistro hardware picture">
<h2 class="projectTitle">Bistro</h2>
<div class="byLine">by: Andrew Fleckenstein</div>
<p class="projectDetails">
Bistro is a computer-aided fluency training program that helps stutterers
overcome their impediment. It uses an accelerometer connected to an Arduino,
which is strapped around the abdomen, to measure breathing. Knowing when a full
breath is drawn is essential to knowing when one should start speaking.  A
microphone to measure speech volume, which helps train continuous phonation.
The Arduino and accelerometer were chosen for their portability, availability,
and price. The project is programmed in Java, which was chosen for its
portability and native GUI capabilities.
</p><a href="#top">(top)</a>
</section>

<hr class=clear>
<section id="EEG">
<img class="rightImage" src="/static/media/projectImages/EEGPicture.jpg"
alt="EEG picture">
<h2 class="projectTitle">Building an Electroencephalogram (EEG)</h2>
<div class="byLine">by: William Edmisten</div>
<p class="projectDetails">
An EEG is an instrument which measures the electrical activity of the brain,
resulting from the ionic current flow of neurons. EEGs can measure voltage
patterns which correspond to certain brain activities, such as
relaxation/attention or drowsiness.
</p><p>
An online schematic was followed, which involved combining several input
filters to ensure quality data was recorded from the electrodes attached to the
scalp.
</p><p>
An instrumentation amplifier and two operational amplifiers were used to
compare two signals and return the amplified difference. A series of resistors
and capacitors were used to filter the input into viable, processed data. A
potentiometer was used to control gain in the final stage. Two disposable
electrodes are used for signal input: one attached to the leg (as a reference
signal) and one to the scalp.
</p><a href="#top">(top)</a>
</section>

<hr class=clear>
<section id="generalsBuzz">
<img class="leftImage" src="/static/media/projectImages/generals_buzz.png"
alt="project picture">
<h2 class="projectTitle">Generals Buzz</h2>
<div class="byLine">by: Kenny Worden</div>
<p class="projectDetails">Students, parents, and faculty need to stay on top of
upcoming events at Washington-Lee. Frequently, they need to see the who, what,
when, and where for events quickly – what period is the pep rally? Was school
canceled today? What quarter exams are today? When is that School Board
meeting? Not everyone has access to a computer when they're on the move to
their next class or when they remember that something was happening today and
they're stuck in a place with no cell service, and navigating to the school
website takes at least 3 clicks on a mobile device... on a website not designed
for mobile integration nor for the painfully slow internet that is bogged down
by hundreds of other students and faculty using it simultaneously.
</p><p>
Generals Buzz seeks to combat that problem. It tells you as much information as
it can garner from the school website, and saves it on your device. No more
loading, no more navigating. Simply open the app and know what is happening
today, tomorrow, or 3 months in the future, all without an internet connection.
If the app detects a change in events, the calendar automatically updates
itself when it has a connection. Want to be reminded about a specific event?
Simply open an event menu to set a calendar reminder or hide events that you
don't care for.
</p><a href="#top">(top)</a>
</section>

<hr class=clear>
<section id="atic">
<img class="rightImage" src="/static/media/projectImages/atic.jpg" alt="picture of atic site?"><img>
<h2 class="projectTitle">Arlington Technology Innovation Center Website</h2>
<div class="byLine">Developed by: Jack Owens and Dylan O'Harrow</div>
<p class="projectDetails">
Once the Arlington Technical Innovation Center was proposed the creators
realized that they needed a web presence. What better way to create that web
presence than a website designed and built by ATIC students? Dylan O’Harrow and
Jack Owens were both registered in a dual-enrolled course at the Arlington
Career Center called Advanced Topics in Information Technology. They chose to
focus on web design within that course. They were the ones chosen to build and
design this website. They started off creating a simple static HTML web page
and slowly grew it to a dynamic Django-based web application. The purpose of
the website was to do more than showcase the technical ability of students, but
also to attract more real world projects for these students.      

</p>
</section>
<hr class="clear">

<section id="firefox">
<img class="leftImage" src="/static/media/projectImages/Firefox_OS.jpg" alt="picture of atic site?"><img>
<h2 class="projectTitle">Firefox OS App Development</h2>
<div class="byLine">Developed by: Finn Cardiff, Alex Hirschberg, Aki Nicholakos</div>
<p class="projectDetails">These three students were able to work with Mozilla to test and develop applications and curriculum materials for their new mobile operating system, Firefox OS. Mozilla sent them several developer phones on which to test their apps. Aki became a co-author of a Firefox OS app development tutorial, with Finn updating and bug fixing a whole series of apps for the tutorial. Alex led a 6 hour workshop where he introduced Firefox OS app development to an audience including APS students who will be participating in our Summer internship program. Together they have laid the groundwork for future APS IT students to pursue mobile app development.</p>
</section>
<hr class="clear">

<section id="Sunlight">
<img class="rightImage" src="/static/media/projectImages/photovoltaic.png" alt="sunlight pic"><img>
<h2 class="projectTitle">Photovoltaic Viability Map</h2>
<div class="byLine">Developed by: Sam Phillips</div>
<p class="projectDetails">Would it make sense to put solar panels on the roof of
your Northern Virginia home?  How much would it cost and how much electricity
would they generate? Answering those questions is the goal of this Code for
NOVA <a href="http://codefornova.org&quot;">(http://codefornova.org)</a> project done at the request of the Northern
Virginia Regional Commission <a href="https://www.novaregion.org">(https://www.novaregion.org).</a> Using Python 3,
PostGIS, Leaflet, and CoffeeScript, Sam created a web application to share
solar radiation information gathered from LIDAR data with Northern Virginia
homeowners.
</p>
</section>

<hr class="clear">
<section id="gerardo">
<img class="leftImage" src="/static/media/projectImages/gerardo.jpeg" alt="gerardo robot pic"><img>
<h2 class="projectTitle">Gerardo The Robot</h2>
<div class="byLine">Developed by: Karanvir Dhillon </div>
<p class="projectDetails">
Making a robot from a kit feels enclosed and limited in scope compared to
making one from scratch. It does not fully challenge students’ creativity and
problem solving skill, and also won't make full use of the makerspace coming to
Arlington Tech. Gerardo the robot was built to address these concerns.  Gerardo
was created from scratch around the Pyboard, a Microprocessor/controller, and a
3D printed frame built inhouse. Using Python, students can control the various
functionalities of the board and external sensors. Currently, Karanvir Dhillon,
by utilizing the IR reflectivity sensor, has designed Gerardo to follow black
lines on and white surface. In the future, students will be able to use the
wide variety of sensors and resources in the makerspace to build an even more
complex robots and advance their knowledge of robotics.
</p>
</section>

<hr class="clear">

{% endblock %}
